In [1]:
import time
from datetime import datetime

In [2]:
datetime.now()

datetime.datetime(2020, 2, 3, 10, 32, 40, 563593)

In [3]:
from datetime import timedelta

In [12]:
datetime.now()+timedelta(days=295)

datetime.datetime(2020, 11, 24, 10, 39, 18, 495495)

In [17]:
day1="january-31-2020"
print(datetime.strptime(day1,'%B-%d-%Y'))

2020-01-31 00:00:00

In [18]:
datetime(2020,1,31)

datetime.datetime(2020, 1, 31, 0, 0)

In [19]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
[i for i in range(1,11) if (i%2==0)]

[2, 4, 6, 8, 10]

In [28]:
[day is"11:december:2015", print(datetime.strptime(day,'%B-%d-%Y'))]

2020-01-31 00:00:00

[False, None]

In [30]:
dates=["11:december:2015", "17:may:2020"]
[datetime.strptime(i,'%d:%B:%Y') for i in dates]

[datetime.datetime(2015, 12, 11, 0, 0), datetime.datetime(2020, 5, 17, 0, 0)]

In [33]:
a=datetime.now()
a.date()

datetime.date(2020, 2, 3)

In [35]:
a.strftime('%d,%B,%Y')

'03,February,2020'

In [37]:
import pandas as pd
import numpy as np

In [47]:
a=pd.DataFrame((input()),columns=['worst fellow'],index=['3-2-2020','4-2-2020','5-2-2020'])
print(a)
print("----------------------------------------------------------")

hj
         worst fellow
3-2-2020           hj
4-2-2020           hj
5-2-2020           hj
----------------------------------------------------------

In [52]:
b=pd.Series((input()),index=['3-2-2020','4-2-2020','5-2-2020'])
print(b)
print("----------------------------------------------------------")

jayanth
3-2-2020    jayanth
4-2-2020    jayanth
5-2-2020    jayanth
dtype: object
----------------------------------------------------------

In [53]:
dates=pd.date_range(start='1-1-2000',periods=1000)
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10',
               ...
               '2002-09-17', '2002-09-18', '2002-09-19', '2002-09-20',
               '2002-09-21', '2002-09-22', '2002-09-23', '2002-09-24',
               '2002-09-25', '2002-09-26'],
              dtype='datetime64[ns]', length=1000, freq='D')

In [64]:
data=pd.DataFrame(np.random.randint(low=1,high=1000,size=1000),columns=['worst fellow'],index=dates)
data

            worst fellow
2000-01-01           289
2000-01-02           780
2000-01-03           207
2000-01-04           123
2000-01-05           352
2000-01-06           915
2000-01-07            10
2000-01-08           443
2000-01-09           864
2000-01-10            77
2000-01-11           321
2000-01-12           102
2000-01-13           361
2000-01-14           790
2000-01-15           992
2000-01-16           618
2000-01-17           851
2000-01-18           471
2000-01-19           112
2000-01-20           188
2000-01-21           473
2000-01-22           143
2000-01-23           971
2000-01-24           916
2000-01-25           427
2000-01-26           624
2000-01-27           419
2000-01-28            54
2000-01-29           914
2000-01-30           275
...                  ...
2002-08-28           877
2002-08-29           705
2002-08-30           132
2002-08-31           851
2002-09-01           197
2002-09-02            39
2002-09-03           218
2002-09-04           199
2002-09-05           194
2002-09-06           233
2002-09-07           606
2002-09-08           342
2002-09-09           434
2002-09-10           375
2002-09-11           608
2002-09-12             2
2002-09-13           751
2002-09-14           258
2002-09-15           920
2002-09-16           433
2002-09-17           312
2002-09-18            80
2002-09-19           929
2002-09-20           614
2002-09-21           155
2002-09-22           571
2002-09-23           866
2002-09-24           317
2002-09-25            89
2002-09-26           675

[1000 rows x 1 columns]

In [68]:
a=str(data)
a

'            worst fellow\n2000-01-01           289\n2000-01-02           780\n2000-01-03           207\n2000-01-04           123\n2000-01-05           352\n2000-01-06           915\n2000-01-07            10\n2000-01-08           443\n2000-01-09           864\n2000-01-10            77\n2000-01-11           321\n2000-01-12           102\n2000-01-13           361\n2000-01-14           790\n2000-01-15           992\n2000-01-16           618\n2000-01-17           851\n2000-01-18           471\n2000-01-19           112\n2000-01-20           188\n2000-01-21           473\n2000-01-22           143\n2000-01-23           971\n2000-01-24           916\n2000-01-25           427\n2000-01-26           624\n2000-01-27           419\n2000-01-28            54\n2000-01-29           914\n2000-01-30           275\n...                  ...\n2002-08-28           877\n2002-08-29           705\n2002-08-30           132\n2002-08-31           851\n2002-09-01           197\n2002-09-02            39\n2002-09-03           218\n2002-09-04           199\n2002-09-05           194\n2002-09-06           233\n2002-09-07           606\n2002-09-08           342\n2002-09-09           434\n2002-09-10           375\n2002-09-11           608\n2002-09-12             2\n2002-09-13           751\n2002-09-14           258\n2002-09-15           920\n2002-09-16           433\n2002-09-17           312\n2002-09-18            80\n2002-09-19           929\n2002-09-20           614\n2002-09-21           155\n2002-09-22           571\n2002-09-23           866\n2002-09-24           317\n2002-09-25            89\n2002-09-26           675\n\n[1000 rows x 1 columns]'

In [69]:
filepath=open("date&time.txt",'w')
filepath.write(a)
filepath.close()

In [81]:
data['2001-12']

            worst fellow
2001-12-01           330
2001-12-02           609
2001-12-03            65
2001-12-04           679
2001-12-05           269
2001-12-06           596
2001-12-07           760
2001-12-08           658
2001-12-09           666
2001-12-10           238
2001-12-11           378
2001-12-12           827
2001-12-13           203
2001-12-14           449
2001-12-15           542
2001-12-16           943
2001-12-17           690
2001-12-18             6
2001-12-19           526
2001-12-20            81
2001-12-21           688
2001-12-22           822
2001-12-23           569
2001-12-24           150
2001-12-25           509
2001-12-26           555
2001-12-27           840
2001-12-28           971
2001-12-29           831
2001-12-30           449
2001-12-31           808

In [82]:
data1=pd.Series(np.random.randint(low=1,high=1000,size=1000),
                   index=dates)
data1

2000-01-01    452
2000-01-02    861
2000-01-03    956
2000-01-04    359
2000-01-05    845
2000-01-06    488
2000-01-07    193
2000-01-08    769
2000-01-09     22
2000-01-10    558
2000-01-11     91
2000-01-12    132
2000-01-13    526
2000-01-14    687
2000-01-15    730
2000-01-16     47
2000-01-17    325
2000-01-18    310
2000-01-19    834
2000-01-20    313
2000-01-21    888
2000-01-22    106
2000-01-23    414
2000-01-24    495
2000-01-25    244
2000-01-26    559
2000-01-27    291
2000-01-28    319
2000-01-29    739
2000-01-30    378
             ...
2002-08-28    181
2002-08-29    971
2002-08-30     30
2002-08-31    688
2002-09-01    148
2002-09-02    431
2002-09-03    974
2002-09-04    347
2002-09-05    107
2002-09-06    978
2002-09-07     69
2002-09-08    234
2002-09-09    253
2002-09-10    424
2002-09-11    884
2002-09-12      8
2002-09-13    176
2002-09-14    595
2002-09-15    846
2002-09-16    988
2002-09-17    958
2002-09-18    983
2002-09-19    663
2002-09-20    710
2002-09-21    966
2002-09-22    115
2002-09-23    996
2002-09-24    943
2002-09-25    153
2002-09-26    578
Freq: D, Length: 1000, dtype: int32

In [83]:
data1['2001-12-10']

412