# 1)create a text file with some data and the file loading in to the jupiter notebook

# 2)create a csv file and display the csv format in jupiter notebook and add one additional column

In [1]:
import pandas as pd
import numpy as np

In [9]:
file=pd.read_csv("data1.txt")
file

    huohcio   gg   gj
0    jkaccn   ff  ssf NaN
1   ckakcld  NaN  NaN NaN
2  bcssbcsl  NaN  NaN NaN

In [30]:
file1=pd.read_csv("data2.csv")
file1

   fgh   dfgh   fghj    gh
0    1     34     35   NaN
1    2     34     45   NaN
2    3     34     67  67.0
3    4     45     67  34.0

In [37]:
file1=pd.read_csv("data2.csv",header=None).reindex([3,2,1,0])
file1

     0      1      2    3
3    3     34     67   67
2    2     34     45  NaN
1    1     34     35  NaN
0  fgh   dfgh   fghj   gh

In [35]:
file1[None]=['q',34,45,6,77,]
file1

   0.0    1.0    2.0  3.0 NaN
0  fgh   dfgh   fghj   gh   q
1    1     34     35  NaN  34
2    2     34     45  NaN  45
3    3     34     67   67   6
4    4     45     67   34  77

In [41]:
{
 "name":"sai sreekanth reddy"  ,
 "roll.no":"168x1a0383",
    "data":{"clg":"khit","branch":"mechanical"}
    "education":{["ssc":{"name":"kondaveedu public school",
                        "board":"state board",
                        "marks":9.3}
                {["inter":{"name":"sri chaitanya vidyala junior clg",
                         "board":"bieap",
                         "marks":906}
                "btech":{"name":"khit",
                         "board":"jntuk",
                         "marks":"7.5"}
                  ]}
}

SyntaxError: invalid syntax (<ipython-input-41-83c9c47076ce>, line 5)

In [44]:
file3=pd.read_json("mydata.txt")
file3

ValueError: Expected object or value

In [45]:
import sys

In [52]:
traii=file1.to_csv(sys.stdout,sep=":")
traii

:0:1:2:3
3:3:34:67:67
2:2:34:45:
1:1:34:35:
0:fgh: dfgh: fghj:gh

In [54]:
url="https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json"
df=pd.read_json(url,orient='columns')
df.head(10)

    integer            datetime  category
0         5 2015-01-01 00:00:00         0
1         5 2015-01-01 00:00:01         0
10        5 2015-01-01 00:00:10         0
11        5 2015-01-01 00:00:11         0
12        8 2015-01-01 00:00:12         0
13        9 2015-01-01 00:00:13         0
14        8 2015-01-01 00:00:14         0
15        8 2015-01-01 00:00:15         0
16        2 2015-01-01 00:00:16         0
17        1 2015-01-01 00:00:17         0